<div class="container">
    <h1>Library</h1>
    <app-book-form></app-book-form>
</div>

<!-- <h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!books"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="books">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Rating</th>
            <th>Reviews</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.rating }}</td>
            <td>{{ book.reviewsNumber }}</td>
        </tr>
    </tbody>
</table> -->
